@use "../../styles/variables.scss" as *;

.graph {
  /* 右侧栏不占空间，图谱通过浮窗展示 */
  display: contents;

  & > .local-graph-outer {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & > h3 {
      font-size: 1rem;
      margin: 0 0 0.5em 0;
      color: var(--dark);
    }

    & > .graph-outer {
      border-radius: 5px;
      border: 1px solid var(--lightgray);
      box-sizing: border-box;
      width: min(80vw, 600px);
      height: min(80vh, 450px);
      position: relative;
      overflow: hidden;
      background-color: var(--light);

      & > .graph-container {
        width: 100%;
        height: 100%;
      }

      & > .global-graph-icon {
        cursor: pointer;
        background: none;
        border: none;
        color: var(--dark);
        opacity: 0.5;
        width: 24px;
        height: 24px;
        position: absolute;
        padding: 0.2rem;
        margin: 0.3rem;
        top: 0;
        right: 0;
        border-radius: 4px;
        background-color: transparent;
        transition: background-color 0.5s ease;
        &:hover {
          background-color: var(--lightgray);
        }
      }
    }
  }

  & > .global-graph-outer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: inline-block;
    }

    & > .global-graph-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80vh;
      width: 80vw;

      @media all and not ($desktop) {
        width: 90%;
      }
    }
  }
}
