details.toc {
  & summary {
    cursor: pointer;

    &::marker {
      color: var(--dark);
    }

    & > * {
      padding-left: 0.25rem;
      display: inline-block;
      margin: 0;
    }
  }

  & ul {
    list-style: none;
    margin: 0.5rem 1.25rem;
    padding: 0;
  }

  & ul > li {
    margin-bottom: 0.5rem;
  }

  & ul > li:last-child {
    margin-bottom: 0;
  }

  & ul > li > a {
    display: block;
    line-height: 1.35;
  }

  @for $i from 1 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
